<!DOCTYPE html>


<html lang="en">
<head>
    <style>
        nav{
            font-family: Garamond;
            color: whitesmoke;
            font-size: 24pt;
            text-shadow: 2px 2px black;
            background: rgba(20, 21, 23, 0.7);
        }

        a {
            font-family: Garamond;
            color: whitesmoke;
            font-size: 24pt;
            text-shadow: 2px 2px black;
        }

        a:visited{
                font-family: Garamond;
                color: whitesmoke;
                font-size: 24pt;
                text-shadow: 2px 2px black;
        }

        .dropdown {
            display: inline-block;
            position: relative;
        }

        button {
            color: whitesmoke;
            border: none;
            border-radius: 5px;
            padding: 15px 30px;
            font-size: 18px;
            background: none;
            cursor: pointer;
        }

        button:hover {
                background: rgba(20, 21, 23, 0.9);
        }

        .dropdown-options {
            display: none;
            position: absolute;
            overflow: auto;
            background: rgba(20, 21, 23, 0.9);
            border-radius: 5px;
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        }

        .dropdown:hover .dropdown-options {
            display: block;
        }

        .dropdown-options a {
            display: block;
            color: whitesmoke;
            padding: 5px;
            text-decoration: none;
            padding: 20px 40px;
        }

        .dropdown-options a:hover {
            background: rgba(20, 21, 23, 0.7);
            border-radius: 5px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adventure Land</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdventureLandWebapp.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
        body {
            background-color: dimgrey;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdventureLandWebapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-light">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item text-light">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Map">Map</a>
                        </li>
                    </ul>

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <div class="dropdown">
                            <button>Management</button>
                            <div class="dropdown-options">
                                <a class="nav-link" asp-area="" asp-controller="GUESTs" asp-action="Index">Guests</a>
                                <a class="nav-link" asp-area="" asp-controller="ATTRACTIONs" asp-action="Index">Attractions</a>
                                <a class="nav-link" asp-area="" asp-controller="EMPLOYEEs" asp-action="Index">Employees</a>
                            </div>
                        </div>
                            
                      
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="dropdown">
                            <button>Admin</button>
                            <div class="dropdown-options">
                                    <a class="nav-link" asp-area="" asp-controller="AppRoles" asp-action="Index">Roles</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <partial name ="_LoginPartial"/> 
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AdventureLandWebapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
