@{
    ViewData["Title"] = "Home Page";
    <style>
        body {
            background-image: url('https://i.imgur.com/QXMEa92.jpg');
            margin: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: whitesmoke;
            font-family: Garamond;
        }

        h1{
            text-shadow: 2px 2px black;
        }

        h2{
            text-shadow: 2px 2px black;
        }
    </style>
}


<div class="text-center">
    <h1 class="display-4">Welcome to Adventure Land Employee Portal!</h1>
    <h2>Use the above links to naviagte and manage Adventure Land.</h2>

    
</div>
